<div class='posts'>
  {{#each posts}}
    <a class='post' href='/writing/about/{{url}}' style='background-color: {{color}}; background-image: url({{img}});'>
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    </a>
  {{/each}}
</div>
